/*
Project Name: Relaxr Blog
Author: trose
Developer @GA in NYC
*/

/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.fl {
  float: right;
}

.fl {
  float: left;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body{
  margin:0 auto;
  width:900px;
  background-color: #f0efef;
  font-family: "Open Sans", sans-serif;
}

header {
  border: 1px solid #033048;
  width: 940px;height: 100px;
  box-sizing: border-box;margin-bottom:40px;color:#033048;background-color: #033048;padding-top: 20px;
  padding-bottom: 20px;
}
  .logo{
    color:white;
    font-weight:800;
    font-size:48px;
    padding-left: 20px;
    float: left;
    }
a:link {
    color: #033048;
}

a:visited {
    color: #033048;
}

a:hover {
    color: #fff;
}

a:active {
    color: #033048;
}


header nav {float:right; 
    padding-top:20px;
    overflow: hidden; 
    padding-bottom: 20px;
    color:#f9e42e;}

header nav ul {list-style:none;}
header nav ul li{display:inline-block; 
    padding-right: 10px; 
    height:20px; 
    margin-left: 5px;
}
aside{
  float: right;
  width: 240px;
  height: 700px;
  margin-left: 20px;
  line-height: 1.2;
  color:#033048;
}

  h3{
    font-size: 32px;
    font-weight: 800;
    line-height: 1.5;
  }

  h4{
    font-weight: 800;
  }
    #LearnMoreParagraph{
      font-size: 12px;
    }

  .AboutRelaxr{padding-bottom: 30px;
    padding-top: 30px;
  }



.How{
  overflow: hidden; margin-right: 50px;
  margin-bottom: 30px; border-bottom: solid 2.5px #606161;
}
  .Readmore1{
    padding-top: 20px;font-weight: 600;
    color: #033048; float: right; padding-bottom: 20px;
  }

  .paragraph1{
    color:#606161;
    float: right;
    line-height: 1.2;
  }

h2{
  color:#033048;
  font-weight: 600;
  font-size: 40px;margin-bottom: 20px;
  }

  .photo1{
    float:left; padding-bottom: 20px;
  }

.Traveled{
  overflow: hidden;margin-right: 50px;margin-bottom: 30px;
  border-bottom: solid 2.5px #606161;
  }
    .photo2{
      float:left;
    }
    .paragraph2{
      padding-top: 20px;
      color:#606161;
      float: right;
      line-height: 1.2;
    }
    .Readmore2{
    padding-top: 20px;
    font-weight: 600;
    color: #033048;
    float: right;
  }
  
  span{
  font-weight: 600;
  font-size: 50px;
  padding: 5px;
  float:left;
  }

footer{ width: 940px;
}
  .SignUp{
  height: 140px;background-color:#f9e42e;background-image: none;
  padding-left: 350px;padding-top: 40px;
}
  .SignUpNow{
  border:solid 5px #033048; border-radius: 5px;width: 260px;height:50px;
  background-color: #033048;color:white; text-align: center;
  padding-right: 5px; padding-left:5px; padding-bottom: 5px;
  padding-top: 8px; font-size: 24px; font-weight: 600;
  }

.Social{
  background-image: none; background-color:#121212; height: 360px;color:white;
}
  .twitter{padding-left: 400px;display: inline-block;
  }

  .facebook{
    padding-left: 50px; text-align: center;display: inline-block;
  }

  .Relaxr{
    font-weight:800;font-size: 48px;
    text-align: center;padding-top: 20px;color: #f9e42e;
  }
    .Copyright{
      text-align: center;font-size:18px;padding-top: 60px;
    }